@* Listing 5.29 The Success page content in the Success.cshtml file in the Pages/CountryManager folder *@

@page
@model CityBreaks.Pages.CountryManager.SuccessModel

<h1>Success!</h1>
<p>Your form submission was completed. You submitted:</p>
<p>
    @TempData["CountryName"]
    <img src="/images/flags/@(TempData["CountryCode"]).png" />
</p>
