@* Listing 4.3 Binding route data to PageModel handler parameters in the City.cshtml file in the CityBreaks/Pages folder *@

@page "{cityName=Paris}"
@model CityBreaks.Pages.CityModel

<h2>@Model.CityName</h2>
